<html>
  <head>
  
<link rel='stylesheet' href='/css/style.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

  </head>
  <body>
    <div class="login">
      <h1 class="text-center">Marvel Companion</h1>
      <form action="/user/login" method="post">
        <input placeholder="username" name="user[email]" type="text"/>
        <br/ >
        <input placeholder="password" name="user[password]" type="password"/>
        <br/ >
        <input type="submit" value="Login" class="button-primary">
      </form>

      <div class="text-center">
        <button class="button-primary"><a href="/user/new"><small>Sign Up</small></a></button>
      </div>
    </div>
  </body>
</html>