<!DOCTYPE html>
<html>
<head>
 <!--  <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
 <link rel='stylesheet' href='/css/new.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
  <div>
    <form action="/user" method="POST">
      <label for="email">Email</label>
      <input id="email" type="text" name="user[email]" placeholder="email"><br>

      <label for="password">Password</label>
      <input id="password" type="password" name="user[password]" placeholder="password"><br>

      <input type="submit" value="Sign Up" class="button-primary">
    </form>
  </div>
</body>
</html>